.top-bar {
  background-color: #2d5a74;
  color: white;
  position: absolute;
  height: 5rem;
  width: 100vw;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
}

.top-bar .top-info {
  height: 2rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 0.5rem;
}

.top-bar .logout-button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #2d5a74;
  border-radius: 1rem;
}
