.trip-card{
    border: 2px solid black;
    border-radius: .5rem;
    margin: 1rem;
    padding:1rem;
    transition: all 0.2s ease-in-out;
    width: 7.15rem;
    background-color: #F4F1E5;
}

.trip-card:hover{
    cursor: pointer;
    background-color: #B7CBE7;
    transform: scale(1.1);
}

img{
    width: auto;
    height: 5vw;
}