.accommodation-details-page {
  width: auto;
  min-width: 40vw;
  max-width: 70vw;
  padding: 3vw;
  margin: 3vw;
  background-color: #fbfaf6a4;
  border-radius: 1rem;
}

.accommodation-details-page .delete-accommodation {
  color: #ad3d25;
  border: 2px solid #ad3d25;
  border-radius: 1.5rem;
  margin: 1rem auto;
  padding: 1rem;
  width: 60%;
  transition: all 0.1s ease-in-out;
}

.accommodation-details-page .delete-accommodation:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: #ad3e25;
  color: white;
}
