.accommodation-page {
  margin-top: 6vw;
  min-height: 89vh;
  position: relative;
}

.info-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  min-width: 525px;
}

.add-info-button {
  background-color: #b7cbe7;
  color: white;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
}

.add-info-button:hover {
  cursor: pointer;
  background-color: #2d5a74;
  transform: scale(1.1);
}

.add-info-button .icon {
  width: 1.5rem;
  height: auto;
}

.info {
  border-radius: 0.5rem;
  border-style: solid;
  border-color: #2d5a746d;
  margin: 1rem;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
}

.info:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.info-name {
  width: 30%;
  text-align: left;
}

.info-main {
  width: 30%;
  text-align: left;
}

.info-other {
  width: 10%;
  text-align: left;
}

.info-other-empty {
  color: #ebc452;
}

.info-list .rating {
  margin: 0;
}

.list-page {
  margin: 1rem auto;
}
