.add-plan-card {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-plan-card .form-container {
  margin: 2rem;
  margin-top: calc(2rem + 6vw);
  width: 25rem;
}
