.plan-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.plan-card h1 {
  padding: 1rem 0;
}

.plan-card .plan-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.plan-card .plan-detail {
  display: flex;
  align-items: baseline;
}

.plan-card h3 {
  margin: 0.5rem 0.5rem;
}
.plan-card h1 {
  margin: auto;
}
