.plan-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.plan-card .plan-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.plan-card .plan-detail {
  display: flex;
  align-items: baseline;
}

.plan-card h3 {
  margin: 0.5rem 0.5rem;
}

.plan-contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  justify-content: space-around;
  align-items: flex-end;
  margin: 1rem 0;
}

.plan-contact .icon {
  width: 1.25rem;
  height: auto;
  padding: 0.75rem;
  border-radius: 2rem;
  background-color: #2d5a74;
  color: white;
  cursor: pointer;
}

.plan-card span {
  font-weight: 100;
}

.plan-card .price-icon {
  margin-right: 0.75rem;
  margin-left: 0.5rem;
}

.plan-card .category-price-info span {
  padding-left: 0.5rem;
}

.price-list .price-info {
  display: flex;
  align-items: center;
}

.price-list .price-info .price-icon {
  width: 2rem;
  display: flex;
  justify-content: left;
}

.price-list .price-info .category {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0rem;
}

.price-list .price {
  padding: 0rem 0.5rem;
}
