.restoration-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.restoration-card h1 {
  padding: 1rem 0;
}

.restoration-card .restoration-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.restoration-card .restoration-detail {
  display: flex;
  align-items: center;
}

.restoration-card h3 {
  margin: 0.5rem 0.5rem;
}
.restoration-card h1 {
  margin: auto;
}
