.restoration-page {
  margin-top: 5rem;
}

.restoration-page .return-icon {
  width: 2.5em;
  height: 3rem;
  border-radius: 0.5rem;
}

.restoration-page .return-icon:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #b7cbe7;
}

.restoration-page .add-restoration-button {
  border: 2px solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
}

.restoration-page .add-restoration-button:hover {
  cursor: pointer;
  background-color: #b7cbe7;
  transform: scale(1.1);
}
