.accommodation-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.details-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.accommodation-card .accommodation-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.accommodation-card .accommodation-detail {
  display: flex;
  align-items: baseline;
}

.accommodation-card h3 {
  margin: 0.5rem 0.5rem;
}

a {
  text-decoration: underline;
}

.accommodation-booleans .icon {
  width: 1.5rem;
  height: auto;
  margin-right: 1rem;
}

div.rating {
  color: #ebc452;
  display: flex;
  margin-top: -1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  align-items: center;
}

div.rating h5 {
  margin: 0;
  margin-right: 0.5rem;
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
}

div.rating span {
  margin-left: 0.5rem;
  color: black;
}

.details-icon {
  display: flex;
  padding-top: 1rem;
  width: 100%;
  justify-content: center;
  margin: auto;
  margin-bottom: 1rem;
}

.details-dates {
  display: flex;
  padding-top: 1rem;
  width: 100%;
  justify-content: space-between;
  margin: auto;
}

.details-icon .dotted-line {
  border-top: dashed 1px;
  border-color: #2d5a74;
  width: 30%;
  margin-top: 0.5rem;
}

.details-date-info {
  display: flex;
  flex-direction: column;
}

.details-date-info span {
  font-weight: 700;
}
.details-icon .icon {
  margin-top: -0.5rem;
  padding: 0 0.5rem;
  color: #2d5a74;
}

.dot {
  width: 1rem;
  height: 1rem;
  background-color: #2d5a74;
  border-radius: 0.5rem;
}

.accommodation-contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  justify-content: space-around;
  align-items: flex-end;
  margin: 1rem 0;
}

.accommodation-contact .icon {
  width: 1.25rem;
  height: auto;
  padding: 0.75rem;
  border-radius: 2rem;
  background-color: #2d5a74;
  color: white;
  cursor: pointer;
}

a {
  font-weight: 700;
  color: black;
  text-decoration: none !important;
}

a:hover {
  color: black;
}

a .link {
  color: #2a97d5;
  text-decoration: underline;
  font-weight: 100;
}
