.add-accommodation-card {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-accommodation-card .form-container {
  margin: 7vw;
  width: 26rem;
}

input[type="time"]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

.add-form .price {
  width: 50%;
}

.form-data select.rating {
  font-family: "FontAwesome", "Open Sans";
}
