.edit-card .accommodation-info {
  width: 100%;
}

.edit-card .accommodation-detail label,
.edit-card .accommodation-detail div {
  flex-grow: 1;
}

.edit-card .form-data .price {
  width: auto;
  min-width: 20%;
}

.edit-card .edit-checkbox {
  width: auto;
  text-align: left;
  margin-bottom: 1rem;
}

.accommodation-checkHour {
  text-align: left;
}

.edit-card h3 {
  text-align: left;
}
