.main-page {
  height: 100vh;
}
.main-page .trips {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 2vw;
  margin: 7vw 2rem;
  padding: 1rem 0;
  height: auto;
  max-width: 100vw;
  min-width: 463px;
}

@media (max-width: 525px) {
  .main-page {
    margin-top: calc(525px * 0.07);
    gap: calc(525px * 0.02);
  }
}

.main-page .new-trip-button {
  background-color: white;
  border-radius: 0.5rem;
  width: 12vw;
  height: 12vw;
  min-width: 67px;
  min-height: 67px;
  display: flex;
  transition: all 0.2s ease-in-out;
}

.main-page .new-trip-button .icon {
  display: block;
  margin: auto;
  width: 30%;
  height: auto;
  color: #937b5f;
}

.main-page .new-trip-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
