.main-page .trips {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 2vw;
  margin: 0 6vw;
}

.main-page .new-trip-button {
  background-color: white;
  border-radius: 0.5rem;
  width: 12vw;
  height: 12vw;
  display: flex;
  transition: all 0.2s ease-in-out;
}

.main-page .new-trip-button .icon {
  display: block;
  margin: auto;
  width: 30%;
  height: auto;
  color: #937b5f;
}

.main-page .new-trip-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
