/*.accommodation-page {
  margin: 5vh 5vw 5vh 5vw;
  background-color: #f3f0e487;
  text-align: left;
  border-radius: 25px;
}

.flex-container {
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
}

.accommodation-page h2 {
  margin-left: auto;
  margin-right: auto;
}

.accommodation-page img {
  margin-top: 5vh;
  width: 35vw;
  max-width: 360px;
  height: auto;
  display: block;
  border-radius: 25px;
}

.accommodation-page h2 span {
  font-weight: normal;
}

.upload {
  background-color: white;
  width: 90%;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  text-align: center;
}
*/
.accommodation-page .add-accommodation-button{
  border: 2px solid black;
  border-radius: .5rem;
  margin: 1rem;
  padding:1rem;
  transition: all 0.2s ease-in-out;
}

.accommodation-page .add-accommodation-button:hover{
  cursor: pointer;
  background-color: #B7CBE7;
  transform: scale(1.1);
}
