.add-transportation-card {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-transportation-card .form-container {
  margin: 7vw;
  width: auto;
}

.add-transportation-card .title {
  margin: 2rem 4rem;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}
