.transportation-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.transportation-card h1 {
  padding: 1rem 0;
}

.transportation-card .transportation-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.transportation-card .transportation-detail {
  display: flex;
  align-items: center;
}

.transportation-card h3 {
  margin: 0.5rem 0.5rem;
}
.transportation-card h1 {
  margin: auto;
}
