.transportation-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.transportation-card .transportation-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.transportation-card .transportation-detail {
  display: flex;
  align-items: baseline;
}

.transportation-card h3 {
  margin: 0.5rem 0.5rem;
}
