.add-trip-card {
  width: 25rem;
  position: absolute;
  z-index: 90;
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
}

.popup {
  width: 100vw;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  margin-left: -8vw;
}

.add-trip-card .form-container {
  margin-top: 0;
  margin-bottom: 5vw;
}

.return-icon {
  cursor: pointer;
  color: #937b5f;
  margin: 1rem;
  width: 2.5em;
  height: 3rem;
  border-radius: 0.5rem;
  position: absolute;
}

.return-icon:hover {
  cursor: pointer;
  background-color: #2d5a74;
  color: white;
}

.form-container .date {
  width: auto;
  color: #937b5f;
}

.form-container .description {
  height: auto;
  width: 100%;
  font-family: "Open Sans";
}

input[type="file"]::file-selector-button {
  background-color: transparent;
  border: 0;
  color: #937b5f;
  font-family: "Open Sans";
}
