.add-card {
  width: 25rem;
  position: absolute;
  z-index: 90;
}

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
}

.add-trip-card .form-container {
  margin: 7vw;
  width: 50rem;
}

.add-trip-card {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-trip-card .add-image {
  display: flex;
  flex-direction: row;
  margin: 0rem 2.75rem;
}

.add-trip-card .add-image .upload {
  width: 100%;
}

.return-icon {
  cursor: pointer;
  color: #937b5f;
  margin: 1rem;
  width: 2.5em;
  height: 3rem;
  border-radius: 0.5rem;
  position: absolute;
}

.return-icon:hover {
  cursor: pointer;
  background-color: #2d5a74;
  color: white;
}

.form-container .date {
  width: auto;
  color: #937b5f;
  cursor: pointer;
}

.form-container .checkbox-placeholder {
  margin: 0;
  font-size: 13px;
  margin-right: 1rem;
}

.form-container .checkbox-option {
  margin: 0;
  font-size: 13px;
  margin-right: 1rem;
}

.form-container .description {
  height: auto;
  min-height: 20px;
  width: 100%;
  min-width: 90%;
  resize: vertical;
  font-family: "Open Sans";
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  background-color: transparent;
  border: 0;
  color: #937b5f;
  font-family: "Open Sans";
}
