.trip-card {
  border: 2px solid black;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  width: 15vw;
  height: 15vw;
  background-color: #f4f1e5;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.trip-card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.gradient {
  background: linear-gradient(transparent, black);
  border-radius: 0.5rem;
  width: 15vw;
  height: 15vw;
}
.title {
  color: white;
  font-weight: 100;
  margin: 0;
  position: absolute;
  bottom: 0%;
  left: 50%;
  font-size: 12px;
  transform: translate(-50%, -10%);
}

.image {
  width: 100%;
  height: auto;
  min-height: 15vw;
  min-width: 15vw;
  opacity: 0.75;
}
